fastapi
uvicorn
python-multipart
requests
python-dotenv
langchain
langchain-openai
langchain-community
langchain-experimental
playwright
httpx
nest_asyncio
beautifulsoup4
pandas
matplotlib
seaborn



